<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">User Management</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/lists" class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Reports</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
