body {
	background-color:#ffffff;
	padding-top: 70px; 
}
.headerpart {
	height:70px;
	background-color: #428bca;
	color: #fff;
}

.navbar-brand {
	color: #ffffff;
	font-weight: bold;
}



.searchPart {
	margin: 10px 0px;
}

.createAction {
	margin:10px 0;
}

.createAction button {
	font-size: 18px;
}

.searchTitle {
	font-weight: bold;
	font-size:14px;
}

.modelTitle {
	font-weight: bold;
	font-size:20px;	
}